.image-container {
    height: 90%;
    background-color: #333;
    position: relative;
}

.image-container canvas {
    /* canvas size must be dynamic */
    max-height: 100%;
    max-width: 100%;

    /* vertical and horizontal centering */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container .help-message {
    color: #fff;

    /* vertical and horizontal centering */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.image-container .help-message label {
    text-decoration: underline;
}

.image-container #image-upload {
    display: none;
}

