.range-slider .range-slider__input {
    width: 50px;
    position: relative;
    padding: 3px;
}

.range-slider .range-slider__range {
}

.range-slider .range-slider__bound {
    position: relative;
    padding: 0 5px;
}

.range-slider ::-webkit-slider-thumb {
    background:#ccc;
    border: 2px solid #000;
    border-radius: 50%;
}

.range-slider ::-moz-range-thumb {
    background:#ccc;
    border: 2px solid #000;
    border-radius: 50%;
}
