.toolbar {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,.5);
}

.toolbar__button {
    display: block;
    height: 32px;
    width: 32px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    float: left;
    text-align: center;
    border-width: 0;
}

.toolbar__button:hover, .drop-up .drop-up__item:hover {
    background-color: #0074d9;
}

/* remove dotted outline on buttons */
.toolbar__button::-moz-focus-inner {
    border: 0;
}

.toolbar .drop-up {
    position: absolute;
    left: 0;
    bottom: 100%;
    list-style-type: none;
    z-index: 2017;
    display: none;
}

.toolbar .drop-up__item {
    padding: 8px;
    font-size: 0.9em;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    text-align: left;
}

.toolbar__button:hover + .drop-up, .drop-up:hover {
    display: block;
}

.toolbar__button, .drop-up__item {
    z-index: 2017;
}
