.nav {
    background-color: #666;
    /* Prevent navbar from callapsing when it has floated children */
    overflow: hidden;
}

.nav .nav__item {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    float: left;
    font-size: 1em;
    cursor: pointer;
}

.nav .nav__item:hover {
    background-color: #0074d9;
}

.nav .nav__item--right {
    float: right;
}
