/* We can't comma-separate these type of selectors */
.range-slider input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    cursor: pointer;
}

.range-slider input[type=range]::-moz-range-track {
    height: 8px;
    cursor: pointer;
}

.range-slider .range-slider__range::-moz-range-track {
    background: #3071a9;
}

.range-slider .range-slider__range::-webkit-slider-runnable-track {
    background: #3071a9;
}

.range-slider .range-slider__range--red::-moz-range-track {
    background: #EA5353;
}

.range-slider .range-slider__range--red::-webkit-slider-runnable-track {
    background: #EA5353;
}

.range-slider .range-slider__range--green::-moz-range-track {
    background: #3DA63D;
}

.range-slider .range-slider__range--green::-webkit-slider-runnable-track {
    background: #3DA63D;
}

.range-slider .range-slider__range--blue::-moz-range-track {
    background: #3071a9;
}

.range-slider .range-slider__range--blue::-webkit-slider-runnable-track {
    background: #3071a9;
}

.range-slider .range-slider__value {
    color: #3071a9;
    display: block;
    margin: 10px;
    font-size: 1.3em;
}

.range-slider {
    padding: 0 5px;
}

.range-slider .range-slider__bound {
    padding: 0 4px;
}

.range-slider .range-slider__bound,
.range-slider .range-slider__input
{
    display: inline-block;
    vertical-align: top;
}

.range-slider input[type=range] {
    -webkit-appearance: none;
    background: transparent;
}

.range-slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.range-slider input[type=range]:focus {
    /* Removes the blue border */
    outline: none;
}

.range-slider input[type=range]::-webkit-slider-thumb
{
    border: 1px solid #000;
    height: 20px;
    width: 10px;
    background: #fff;
    cursor: pointer;
}

.range-slider input[type=range]::-moz-range-thumb
{
    height: 20px;
    width: 10px;
    border-radius: 0;
    background: #fff;
    cursor: pointer;
}

.range-slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -7px;
}

.range-slider input[type=range] {
    /* Remove border in FF */
    border: 0;
}

@media (max-width: 470px) {
    /* Only for mobile FF */
    @-moz-document url-prefix() {
        .range-slider input[type=range] {
            width: 110px;
        }

        .range-slider {
            width: 200px;
        }
    }
}
