@import '../shared.scss';

.image-container {
    height: 90%;
    background-color: $img-container-bg;
    position: relative;

    canvas {
        // Canvas size must be dynamic
        max-height: 100%;
        max-width: 100%;

        @include center-vertical-horizontal;
    }

    .help-message {
        color: $toolbar;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -45%);

        label {
            text-decoration: underline;
        }
    }

    #image-upload {
        display: none;
    }
}
